<ion-view view-title="Gnomes">
  <ion-content scroll="false" overflow-scroll="true">
    <!-- ********* Start Filters ********* -->
    <div style="height: 30%">
      <div class="row">
        <div class="col">
          <div class="list list-inset">
            <label class="item item-input" style="height: 30px">
              <i class="icon ion-funnel placeholder-icon"></i>
              <input type="text" placeholder="Name" ng-model="search.name">
            </label>
          </div>
        </div>
        <div class="col">
          <div class="list list-inset">
            <label class="item item-input" style="height: 30px">
              <i class="icon ion-funnel placeholder-icon"></i>
              <input type="text" placeholder="Age" ng-model="search.age">
            </label>
          </div>
        </div>
        <div class="col">
          <div class="list list-inset">
            <label class="item item-input" style="height: 30px">
              <i class="icon ion-funnel placeholder-icon"></i>
              <input type="text" placeholder="Height" ng-model="search.height">
            </label>
          </div>
        </div>
        <div class="col">
          <div class="list list-inset">
            <label class="item item-input" style="height: 30px">
              <i class="icon ion-funnel placeholder-icon"></i>
              <input type="text" placeholder="Weight" ng-model="search.weight">
            </label>
          </div>
        </div>
      </div>
      <div class="row responsive-sm">
        <div class="col">
          <div class="list list-inset">
              <a class="item item-icon-left">
                <i class="icon ion-ios-people"></i>
                Total Population
                <span class="badge badge-royal">{{vm.gnomes.length}}</span>
              </a>
          </div>
        </div>
      </div>
    </div>
    <!-- ********* End Filters ********* -->
    <!-- ********* Start List ********* -->
    
    <ion-scroll scrollbar-y="false" style="height: 70%;min-height: 275px">
      <ion-item ng-repeat="gnome in vm.gnomes | filter:search | orderBy:'name'"
      type="item-text-wrap"
      href="#/tab/gnomes/{{gnome.id}}">
        <div class="item item-avatar" style="border-color: {{gnome.hair_color}}">
          <img src="{{gnome.thumbnail}}">
          <h2>{{gnome.name}}</h2>
          <p>{{gnome.age}} years</p>
        </div>
        <div class="item item-body" style="border-color: {{gnome.hair_color}}">
          <a class="item item-icon-left" href="#" style="border-color: {{gnome.hair_color}}">
            <i class="icon ion-briefcase"></i>
            Professions
            <span class="badge badge-balanced">{{gnome.professions.length}}</span>
          </a>
          <a class="item item-icon-left" href="#" style="border-color: {{gnome.hair_color}}">
            <i class="icon ion-person-stalker"></i>
            Friends
            <span class="badge badge-energized">{{gnome.friends.length}}</span>
          </a>
        </div>   
      </ion-item>
    <ion-scroll>
    <!-- ********* End List ********* -->
  </ion-content>      
</ion-view>